#!/usr/sbin/nft -f

flush ruleset

table ip filter {
    chain input {
        type filter hook input priority 0; policy drop;
        iif "lo" accept
        ct state established,related accept

        # Разрешаем VRRP для Keepalived
        ip protocol vrrp accept

        # Разрешаем ICMP (ping) до самого роутера
        icmp type echo-request accept

        # SSH: разрешаем отовсюду (для Vagrant) или только из Management и NAT
        # iifname { "eth0", "eth1" } tcp dport 22 accept # Более безопасный вариант
        tcp dport 22 accept
    }

    chain forward {
        type filter hook forward priority 0; policy drop;
        ct state established,related accept

        # НОВОЕ: Разрешаем ICMP (ping) МЕЖДУ внутренними сетями для диагностики
        iifname { "eth2", "eth3", "eth4" } oifname { "eth2", "eth3", "eth4" } icmp type echo-request counter accept

        # Интернет для DMZ и APP
        iifname { "eth2", "eth3" } oifname "eth0" accept

        # DMZ (front) -> APP (back)
        iifname "eth2" oifname "eth3" ip daddr 10.0.20.0/24 tcp dport { 80, 443, 8080 } accept

        # APP (back) -> DB (PostgreSQL)
        iifname "eth3" oifname "eth4" ip daddr 10.0.30.0/24 tcp dport 5432 counter accept
    }
}

table ip nat {
    chain postrouting {
        type nat hook postrouting priority 100; policy accept;
        oifname "eth0" counter masquerade
    }
}
